*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(31, 31, 31);
}

nav{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    place-items: center;
    background-color: #FCFAF9;
    padding: 1.2%;
}
ul li{
    display: inline;
    margin: 0 15px;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiKINPv2a8JP_3_Us-b0Qhm-LBpvuCmyH9ow&s");
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.content{
    margin-bottom: 25%;
}
.services_we_offer{
    display: grid;
    place-items: center;
    max-height: 100vh;
    background-color: #333333;
}
.card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 2%;
}
.card{
    height: 30vh;
    max-height: 50vh;
    width: 15vw;
    text-align: center;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
}
.h2_offered{
    text-align: center;
    margin: 2% 0;
}
.card_img{
    text-align: center;
    padding: 5%;
}
.card_content{
    margin-top: 4vh;
}


.about_us{
display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #FCFAF9;
  text-align: center;
}




   /* FADE UP ANIMATION STYLES */
.fade-down {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-down.visible {
    opacity: 1;
    transform: translateY(0);
}